/* Define Color Palette */
:root {
  --text-color-white: #FFFFFF;
  --text-color-black: #000000;
  --first-color: #041C32;
  --second-color: #04293A;
  --third-color: #064663;
  --fourth-color: #ECB365;
}

/* Font Definitions */
@font-face {
  font-family: 'iA Writer Duospace';
  src: url('./fonts/ia-writer-duospace/iAWriterDuospace-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'iA Writer Duospace';
  src: url('./fonts/ia-writer-duospace/iAWriterDuospace-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Global Styles */
* {
  font-family: 'iA Writer Duospace', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
  color: var(--text-color-white);
  background-image: radial-gradient(circle at center center, var(--third-color), var(--first-color));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-weight: normal;
}

/* Heading Styles */
.channel-name {
  color: var(--text-color-white);
  text-align: center;
  position: absolute;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: normal;
}

/* Unmute */
.unmute-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--first-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.unmute-text-web {
  color: var(--fourth-color);
  font-size: 3rem;
  text-align: center;
}

.unmute-button-mobile {
  color: #00FF9C;
  font-size: 3rem;
  text-align: center;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background: none;
  border: none;
  display: flex; /* Flexbox to center text */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Mute */
.mute-label, .escape {
  position: fixed;
  top: 1%;
  left: 10px;
  opacity: 0.5;
}

.mute-button-mobile {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background: none;
  border: none;
  position: relative;
}

/* Switcher */
.switch-label {
  position: fixed;
  top: 4%;
  left: 10px;
  opacity: 0.5;
}

/* About */
.about-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0.5;
}

/* Links */
a {
  color: var(--text-color-white);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Switcher */
.switcher-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.switcher-content {
  position: fixed; /* Fix modal position */
  top: 40%;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  background-color: var(--first-color); /* Dark background */
  border-radius: 4px;
  width: 500px; /* Compact width */
  color: var(--text-color-white); /* Light gray text */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); /* Soft shadow */
}

.switcher-search-input {
  box-sizing: border-box;
  padding: 12px 15px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--first-color); /* Dark background */
  color: var(--text-color-white);
  font-size: 2rem;
  font-family: 'iA Writer Duospace', sans-serif;
  outline: none;
  border: none;
}

.switcher-search-input:focus {
  outline: none;
}

.switcher-results {
  list-style: none;
  padding: 0;
  margin: 0;
}

.switcher-results li {
  padding: 12px;
  font-family: 'iA Writer Duospace', sans-serif;
  font-size: 1.1rem;
  color: var(--text-color-white);
}

.selected {
  background-color: var(--third-color);
}

.avatar {
  position: fixed;
  top: 1.5%;
  right: 20px; /* Adjust as needed */
  width: auto;
  height: 50px;
  z-index: 1000; /* Ensure it's on top */
  opacity: 0.8;
  display: block;
  border-radius: 4px; /* Optional: Rounded corners */
  transition: background-color 0.15s, transform 0.03s; /* Smooth transition for hover/click effects */
  cursor: pointer;
  padding: 4px 8px;
}

.avatar:hover {
  background-color: var(--third-color); /* Light grey hover effect */
}

.avatar:active {
  background-color: var(--second-color); /* Slightly darker grey on click */
  transform: scale(0.95); /* Reset scale on click */
}

.allegiance-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center all elements horizontally */
  text-align: center; /* Center the text horizontally */
}

.allegiance-container h1 {
  margin-bottom: 40px; /* Space between the title and the images */
  font-size: 2.5rem; /* Adjust title size as needed */
  opacity: 0.7; /* Lighten the title */
}

.allegiance-items {
  display: flex;
  align-items: center; /* Centers images vertically */
  justify-content: center; /* Centers images horizontally */
  gap: 10%; /* Adds space between images */
}

.allegiance-container img {
  width: auto; /* Adjust as needed */
  height: 300px; /* Maintain aspect ratio */
  margin-bottom: 20%;
}

.allegiance-item {
  text-align: center; /* Center align the caption */
  padding: 40px;
  border: 1px solid transparent;
  border-radius: 8px; /* Optional: Rounded corners */
  transition: border 0.3s ease-in-out; /* Smooth transition for border */
}

.allegiance-item:hover {
  border-color: var(--fourth-color);
  cursor: pointer;
}

.allegiance-item p {
  margin-top: 10px; /* Add some space between the image and the caption */
  font-size: 1.5rem; /* Adjust font size for the caption */
  color: var(--fourth-color); /* Set the text color */
}

.allegiance-welcome {
  font-size: 1.4rem;
  text-align: justify;
  margin: 20px;
  width: 900px;
}

.allegiance-welcome-buttons {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center buttons horizontally */
  gap: 20%; /* Add space between buttons */
  margin-top: 50px; /* Optional: Add some spacing above the buttons */
}

.allegiance-welcome-button {
  padding: 20px 40px; /* Add some padding */
  font-size: 1.5rem; /* Adjust font size */
  border: 1px solid var(--fourth-color); /* Optional: Border for style */
  border-radius: 10px; /* Optional: Rounded corners */
  cursor: pointer; /* Show pointer on hover */
  width: 300px;
  background-color: transparent;
  color: var(--text-color-white);
}

.allegiance-welcome-button:hover {
  background-color: var(--fourth-color);
  color: var(--text-color-black);
}

.allegiance-welcome p {
    opacity: 0; /* Initially hidden */
    animation: fadeIn 1s ease-out forwards;
  }
  
  .allegiance-welcome p:nth-child(1) {
    animation-delay: 1.5s;
  }
  
  .allegiance-welcome p:nth-child(2) {
    animation-delay: 4s;
  }
  
  .allegiance-welcome p:nth-child(3) {
    animation-delay: 6.5s;
  }
  
  /* Buttons have their own keyframes to reach full opacity */
  .allegiance-welcome-buttons button {
    opacity: 0; /* Initially hidden */
    animation: fadeInFull 1s ease-out forwards;
    animation-delay: 7.5s;
}

/* Common fade-in for paragraphs */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

/* Custom fade-in for buttons */
@keyframes fadeInFull {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .butler {
    position: absolute;
    top: 10%;
    width: 100px;
    height: auto;
  }
