/* Define Color Palette */
:root {
  --text-color-white: #FFFFFF;
  --text-color-black: #000000;
  --first-color: #041C32;
  --second-color: #04293A;
  --third-color: #064663;
  --fourth-color: #ECB365;
}

/* Font Definitions */
@font-face {
  font-family: 'iA Writer Duospace';
  src: url('./fonts/ia-writer-duospace/iAWriterDuospace-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'iA Writer Duospace';
  src: url('./fonts/ia-writer-duospace/iAWriterDuospace-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

* {
  font-family: "iA Writer Duospace", sans-serif;
}

.unmute-button-mobile {
  color: #00FF9C;
  font-size: 3rem;
  text-align: center;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background: none;
  border: none;
  display: flex; /* Flexbox to center text */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.mute-button-mobile {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background: none;
  border: none;
  position: relative;
}

/* Switcher */
.switch-label {
  position: fixed;
  top: 4%;
  left: 10px;
  opacity: 0.5;
}

/* Switcher */
.switcher-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.switcher-content {
  position: fixed; /* Fix modal position */
  top: 40%;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  background-color: var(--first-color); /* Dark background */
  border-radius: 4px;
  width: 500px; /* Compact width */
  color: var(--text-color-white); /* Light gray text */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); /* Soft shadow */
}

.switcher-search-input {
  box-sizing: border-box;
  padding: 12px 15px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--first-color); /* Dark background */
  color: var(--text-color-white);
  font-size: 2rem;
  font-family: 'iA Writer Duospace', sans-serif;
  outline: none;
  border: none;
}

.switcher-search-input:focus {
  outline: none;
}

.switcher-results {
  list-style: none;
  padding: 0;
  margin: 0;
}

.switcher-results li {
  padding: 12px;
  font-family: 'iA Writer Duospace', sans-serif;
  font-size: 1.1rem;
  color: var(--text-color-white);
}

.selected {
  background-color: var(--third-color);
}

.avatar {
  position: fixed;
  top: 1.5%;
  right: 20px; /* Adjust as needed */
  width: auto;
  height: 50px;
  z-index: 1000; /* Ensure it's on top */
  opacity: 0.8;
  display: block;
  border-radius: 4px; /* Optional: Rounded corners */
  transition: background-color 0.15s, transform 0.03s; /* Smooth transition for hover/click effects */
  cursor: pointer;
  padding: 4px 8px;
}

.avatar:hover {
  opacity: 0.7;
}

.avatar:active {
  transform: scale(0.95); /* Reset scale on click */
}
